/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; }

*::-webkit-scrollbar {
    width: .3em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px darkgrey;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #7b1fa2;
  outline: 1px solid #7b1fa2;
}

.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.card{
    margin: 16px; 
}

.full-width {
    width: 100%;
}

.text-red{
    color: #e57373;
}

.mt-20{
    margin-top: 20px;
}

.circle{
    border-radius: 50%;
}

.required:before {
    content: "* ";
    color: #e57373;
}
table {
    width: 100%;
}